body {
  background-color: white;
}

.link-route{
  text-decoration: none;
  color: #000;
}

.modal-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content{
  width: 30%;
  height: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
}

ul{
  list-style: none;
  display: flex;
}

nav{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* .navbar-secondary{
  background-color: #F7F1EF;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.navbar{
  background-color: #FFFFFF;
  width: 100%;
  height: 86px;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
}

.navbar .nav-box ul{
  margin-left: 10%;
  height: 100%;
  padding: 0px;
  margin-top: 0px;
}

.navbar .nav-box ul li{
  margin-right: 20px;
  font-weight: bold;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .nav-box ul li:hover{
  border-bottom: 2px solid #E4623E;
  border-top: 2px solid #E4623E;
}

.navbar .nav-box{
  display: flex;
  align-items: center;
  height: 20px;
  width: 15%;
}

.navbar .btn-expor{
  font-size: 14px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #E4623E;
  border-radius: 7px;
  font-weight: bold;
  color: #E4623E;
}

.navbar .btn-expor:hover{
  cursor: pointer;
}

.navbar input{
  width: 75%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #C8C8C8;
  border-radius: 15px;
  font-size: 20px;
  margin-right: 10px;
  padding-left: 3rem;
  box-sizing: border-box;
}

.navbar input::placeholder{
  color: black;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  left: 9%;
  top: 28%;
}

.btn-navbar{
  color: #fff;
  background-color: #E4623E;
  border-radius: 5px;
  padding: 10px;
  width: 138px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.navbar .user-img{
  cursor: pointer;
}

.navbar .user-img:hover .user-dropdown .user-dropdown-content{
  display: block;
}

.navbar .user-dropdown .user-dropdown-content{
  position: absolute;
  margin-top: 10%;
  background-color: white;
  border: 1px solid #E4623E;
  border-radius: 2px 8px 8px;

  display: none;
}

.navbar .user-dropdown-content ul{
  display: flex;
  flex-direction: column;
  color: #E4623E;
  padding: 10%;
  margin: 0px;
}

.disc-drop{
  background-color: white;
  border: 2px solid #E4623E;
  position: absolute;
  border-radius: 2px 8px 8px;
  display: none;
}
#disc:hover .disc-drop{
  display: block;
}

.disc-drop ul{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;

}

.disc-drop ul li{
  cursor: pointer;
  color: #E4623E;
  padding: 5px;
  margin: 5px;
}

.disc-drop ul li:hover{
  border-bottom: 2px solid #E4623E;
  border-top: 2px solid #E4623E;
}

.Container{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: flex;
}

.Logo-box{
  width: 33.3%;
  background-color: #E4623E;
  border-radius: 23px;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo-box img{
  width: 52%;
}

.login-conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8%;
  width: 66.6%;
}

.login-conteudo-body .login-formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-formulario p{
  color: #808080;
}

.login-conteudo-body .login-formulario .input-login{
  margin: 0px;
  padding: 15px;
  background-color: white;
  border: 1px solid #E4623E;
}

.login-conteudo-body .login-formulario p{
  color: #393939;
  font-size: 15px;
}

.login-conteudo-footer button{
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #E4623E;
  color: white;
  font-size: 24px;
  border: none;
}

.login-conteudo-footer .btn-cancelar{
  background-color: #808080;
}

.login-conteudo-footer button:hover{
  cursor: pointer;
}

.login-conteudo-footer p{
  color: #808080;
}

.login-conteudo-footer p span{
  font-weight: bold;
}

.login-conteudo-footer span:hover{
  cursor: pointer;
}

.login-container{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: flex;
  margin-top: 130px;
  padding: 2%;
}
.Login-content{
  width: calc(66.6% - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.Login-content .content-body{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-conteudo{
  display: flex;
  flex-direction: column;
}

.login-conteudo .login-formulario div{
  display: flex;
  flex-direction: column;
}

.login-conteudo .login-formulario div a{
  color: #717171;
  text-decoration: none;
  font-weight: 500;
}

.login-conteudo .login-formulario .login-formulario-botoes{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-conteudo .login-formulario .login-formulario-botoes button{
  background-color: #E4623E;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 5px #a6a6a6;
  margin-right: 10px;
}

.login-conteudo .login-formulario .login-formulario-botoes .btn-cancelar{
  background-color: #808080;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 5px #a6a6a6;
  margin-right: 10px;
}

.login-conteudo .login-formulario span{
  color: #393939;
}
.login-conteudo .login-formulario span a{
  font-weight: bold;
  color: #393939;
  text-decoration: none;
}

.content-body .box a:hover{
  color: #393939;
}

.login-conteudo .login-formulario  label{
  font-size: 22px;
}

.login-conteudo .login-formulario input{
  padding: 20px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #F5D9D0;
  outline: none;
  border: none;
  box-shadow: 5px 5px 5px #a6a6a6;
  margin-bottom: 20px;
}

.cadastro-formulario input{
  margin: 0px;
  padding: 15px;
  background-color: white;
  border: 1px solid #E4623E;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 15px;
}

.content-body .box a{
  margin-bottom: 10%;
}

.content-footer{
  height: 20%;
  display: flex;
  flex-direction: column;
}

.content-footer div{
  margin-top: 5%;
}

.content-footer > button{
  background-color: #E4623E;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 5px #a6a6a6;
}

.content-footer span{
  color: #717171;
  margin-left: 2px;
}

.content-footer a{
  color: #717171;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
}

.content-footer a:hover{
  color: #393939;
}

.Container.cad{
  width: 80%;
  background-color: #F7F1EF;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: flex;
  padding: 25px;
  margin: 110px 20px 20px 20px;
}

.Cad-content{
  width: calc(66.6% - 100px);
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
}

.Cad-content form{
  width: 100%;
}

.Cad-content .content-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Filtro{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Filtro button{
  border: 1px solid #E4623E;
  border-radius: 10px;
  width: 450px;
  background-color: white;
  color: #E4623E;
  padding: 25px;
  margin: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.Filtro button:hover{
  background-color: #E4623E;
  color: white;
  transition: 0.3s;
}

/* .Filtro .active{
  color: #fff;
  background-color: #E4623E;
} */

  .publicacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .publi-drop{
    background-color: white;
    position: absolute;
    border: 2px solid #E4623E;
    border-radius: 2px 8px 8px;
    display: none;
  }
  .publi-drop ul{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 15px;
  }
  .publi-drop ul li{
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .publi-drop ul li img{
    margin-right: 10px;
  }

.publi-drop ul li:hover{
  border-bottom: 2px solid #E4623E;
  border-top: 2px solid #E4623E;
}

  #publi-btn:hover .publi-drop{
    display: block;
    color: #E4623E;
  }


  .publicacoes .publi-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .publicacoes .publi-cards .publi-card{
    background-color: white;
    border: 2px solid black;
    width: 20%;
    height: auto;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
  }

  .publicacoes .publi-cards .publi-card .publi-card-header{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .publicacoes .publi-cards .publi-card .publi-card-header .publi-card-titulo h3,h4{
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .publicacoes .publi-cards .publi-card .publi-card-header span{
    position: relative;
  }

  .publicacoes .publi-cards .publi-card .publi-card-header h4{
    font-size: 14px;
    color: #4a4a4a;
  }

  .publicacoes .publi-cards .publi-card .publi-card-body img{
    width: 100%;
  }

  /* .Publicacao{
    padding: 5px 50px;
    margin-top: 20px;
  }

  .Publicacao .publi-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }

  .Publicacao .publi-box{
    width: 22%;
    background-color: #F5D9D0;
    border-radius: 25px;
    margin-top: 15px;
    padding: 1%;
  } */

.publi-box .titulo{
  padding: 10px;
  position: relative;
}

.publi-box h3,h2{
  margin: 0;
  padding: 0;
}

.publi-box h3{
  color: #4a4a4a;
}

.publi-box .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}

.Exposicao{
  margin-top: 85px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Exposicao .box1{
  width: 60%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Exposicao .box2{
  width: 35%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Exposicao .box1 .organize{
  background-color: #fff;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #a6a6a6, -5px -5px 5px #a6a6a6;
  /* overflow-y: scroll; */
}

.box1 .organize .box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 15px;
}

.box1 .organize .box:nth-child(){
  margin-bottom: 10px;
}

.Exposicao .titulo{
  background-color: #eee;
  padding: 15px 30px;
  border: 1px solid #E4623E;
  border-radius: 20px 20px 0px 0px;
}

.box2 .anexos{
  width: 100%;
  height: 45%;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 0px 5px #a6a6a6, -5px -5px 5px #a6a6a6;
  z-index: 0;
}

.box2 .anexos .titulo{
  border-radius: 20px 20px 0px 0px;
}

.box2 .anexos .ane-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
}

.box2 .anexos .ane-content button{
  background-color: #E4623E;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.box2 .conteudo{
  width: 100%;
  height: 38%;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 5px #a6a6a6, -5px -5px 5px #a6a6a6;
  overflow: hidden;
}

.box2 .conteudo .titulo{
  border-radius: 0px;
}

.box2 .conteudo .con-content{
  display: flex;
  flex-direction: column;
  height: 80%;
}

.box2 .conteudo .con-content .row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.conteudo .con-content .row .box{
  width: 33.3%;
  height: 100%;
  border: 1px solid #E4623E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo .con-content button{
  cursor: pointer;
  background-color: transparent;
}

.con-content .row .box span{
  font-weight: 500;
  font-size: 20px;
}

.con-content .row .box img{
  height: 32%;
}

.box2 > button{
  background-color: #E4623E;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.Disciplina{
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
}

.Disciplina .disc{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Disciplina .disc button{
  background-color: transparent;
  border: 2px solid #E4623E;
  color: #E4623E;
  font-size: 17px;
  margin-right: 10px;
  width: 160px;
  padding: 5px 40px;
  border-radius: 10px;
}

.trab{
  margin-bottom: 20px;
}

.trab .trab-box{
  width: 20%;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 25px;
  margin-top: 15px;
  padding: 15px;
}

.trab-box .titulo{
  padding: 10px;
  position: relative;
}

.trab-box h3,h2{
  margin: 0;
  padding: 0;
}

.trab-box h3{
  color: #4a4a4a;
}

.trab-box .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
}

.aut{
  position: relative;
  margin: 0;
  padding: 0;
}

.aut-box{
  border: 3px solid #E4623E;
  border-radius: 15px;
  /* border-bottom: 3px solid #fff; */
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  position: relative;
}
/* 
.aut-box::after{
  content: "";
  border: 2px solid #fff;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
} */

.aut-box h3{
  position: absolute;
  left: 10px;
  top: 0;
}

.aut-box button{
  background-color: transparent;
  border: 2px solid #E4623E;
  color: #E4623E;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  border-radius: 10px;
}

.orange-bar{
  width: 98.4%;
  height: 20%;
  background-color: #E4623E;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -2;
  padding-left: 30px;
}

footer{
  height: 320px;
  background-color: #F7F1EF;
  position: relative;
}

.f-content{
  display: flex;
  width: 80%;
}

.f-content .f-box{
  margin: 35px 45px;
  padding: 20px;
  color: #4a4a4a;
}

.f-content .f-box h2{
  font-size: 24px;
}

.f-content .f-box img{
  height: 80px;
}

.f-content .f-box{
  color: #000;
  font-size: 20px;
}

.f-content .f-box p{
  font-size: 20px;
}

.modal-overlay.Login{
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content.Login{
  width: 90%;
  height: 75%;
  max-width: 70%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-bottom: 1%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-cor-laranja{
  background-color: #E4623E;
}

#sobre{
  color: white;
  padding-top: 4%;
}

#sobre .sobre-titulo{
  display: flex;
  margin-left: 4%;
  /* Alterar para alinhamento correto */
}
#sobre .sobre-o-que-e{
  display: flex;
  justify-content: center;
  align-items: center;
}
#sobre .sobre-o-que-e .textos{
  width: 600px;
  max-width: 882px;
  margin-left: 4%;
}
#sobre .sobre-img{
  width: 300;
  max-width: 446px;
  max-height: 412px;
  height: 312px;
}
#sobre .sobre-licenca{
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./media/retangulo.svg');
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-bottom: 15%;
  margin-top: 4%;

}
#sobre .sobre-licenca .textos{
  color: black;
  width: 600px;
  max-width: 882px;
  margin-right: 4%;
}
#sobre .sobre-soft-livre{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre .sobre-soft-livre .textos{
  width: 600px;
  max-width: 882px;
  margin-left: 4%;
}

.filtro-drop{
  background-color: white;
  position: absolute;
  border: 1px solid #E4623E;
  border-radius: 2px 8px 8px;
  display: none;
  z-index: 3;
}

.btn-filtros:hover .filtro-drop{
  display: block;
}

.filtro-drop .drop{
  display: flex;
  flex-direction: column;
}

.filtro-drop .drop .drop-org{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtro-drop .drop .drop-org .data-drop-envio, .drop-ordenar, .drop-midia{
  padding: 5px;
}

.drop ul{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.drop ul li{
  margin: 5px;
}

.drop ul li:hover{
  cursor: pointer;
  font-weight: bold;
}

.drop h4{
  margin-bottom: 10px;
}

.drop-pesquisa{
  width: 100%;
  align-items: center;
}

.drop-pesquisa input{
  width: 80%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #CBCBCB;
  border-radius: 7px;
}

.data-drop{
  background-color: white;
  position: absolute;
  border: 1px solid #E4623E;
  border-radius: 2px 8px 8px;
  z-index: 3;
  padding: 1%;
  display: none;
}

.data-drop ul{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.data-drop ul li{
  margin-bottom: 15px;
  font-weight: bold;
  padding: 5px;
}

.data-drop ul li:hover{
  cursor: pointer;
  background-color: #E4623E;
  color: white;
}

.btn-data:hover .data-drop{
  display: block;
}

.perfil-container{
  width: 100%;
  margin-top: 1%;
}

.perfil-container .perfil-inicio{
  width: 100%;
  background-color: #E4623E;
  display: flex;
  justify-content: center;
}

.perfil-container .perfil-inicio .perfil-inicio-conteudo{
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 5%;
  color: white;
}

.perfil-inicio-conteudo .perfil-texto .perfil-texto-titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil-texto .perfil-texto-titulo button{
  margin-left: 20px;
  font-size: 18px;
  padding: 1%;
  background-color: white;
  color: #E4623E;
  font-weight: bold;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}


.btn-perfil-trabalho{
  font-size: 18px;
  border-radius: 9px;
  border: 3px solid white;
  padding: 1% 2%;
  margin-top: 20px;

  background-color: #E4623E;
  color: white;
  font-weight: bold;
}

.btn-perfil-trabalho:hover{
  cursor: pointer;
  background-color: white;
  border-color: #E4623E;
  color: #E4623E;
  transition: 0.3s;
}

.perfil-container .perfil-inicio .perfil-inicio-conteudo img{
  border-radius: 10px;
}

.perfil-container .perfil-inicio .perfil-inicio-conteudo .perfil-texto{
  margin-left: 5%;
}

.perfil-container .perfil-destaques{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.perfil-container .perfil-destaques .perfil-destaques-conteudo{
  width: 80%;
}

.perfil-container .perfil-destaques .perfil-destaques-conteudo .perfil-destaques-botoes{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.perfil-container .perfil-destaques .perfil-destaques-conteudo .perfil-destaques-botoes button{
  color: #E4623E;
  background-color: white;
  border: 2px solid #E4623E;
  font-size:  24px;
  border-radius: 10px;
  padding: 15px;
  margin-right: 2%;
}

.perfil-container .perfil-destaques .perfil-destaques-conteudo .perfil-destaques-botoes button:hover{
  cursor: pointer;
  background-color:#E4623E;
  color: white;
  transition: 0.3s;
}


.perfil-destaques-cards .destaques-cards-org .destaques-card{
  width: 20%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1%;
  margin-top: 3%;
  margin-right: 1%;
}

.perfil-destaques-cards .destaques-cards-org{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.destaques-card-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.destaques-card-header p{
  margin: 0px;
  padding: 0px;
  color: #393939;
}

.destaques-card-header h3{
  margin: 0px;
  padding: 0px;
}

.perfil-destaques-cards .destaques-cards-org .destaques-card img{
  width: 100%;
}

.destaques-card-footer button{
  background-color: #E4623E;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 15px;
  border: none;
  padding: 10px;
}

.destaques-card-footer button:hover{
  cursor: pointer;
}

.perfil-edi-inicio{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo{
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 5%;
  color: white;

  justify-content: space-evenly;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo .perfil-edi-config-banner{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo .perfil-edi-config-banner h3{
  margin: 0px;
  padding: 0px;

  color: black;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo .perfil-edi-config-banner p{
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo .perfil-edi-config-banner button{
  background-color: #E4623E;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px;

  cursor: pointer;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo .perfil-edi-config-banner .btn-remover{
  background-color: #808080;
}

.perfil-edi-inicio .perfil-edi-inicio-conteudo img{
  border-radius: 10px;
}

.perfil-edi-conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-edi-conteudo .perfil-edi-form{
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;

  flex-wrap: wrap;
}

.perfil-edi-conteudo .perfil-edi-form div{
  margin: 15px;
}

.perfil-edi-conteudo .perfil-edi-form input{
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #808080;
}

.perfil-edi-conteudo .perfil-edi-form p{
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;

  font-weight: bold;
}

.perfil-edi-conteudo .perfil-edi-form .form-descricao textarea{
  border-radius: 10px;
  border-color: #808080;
  width: 100%;

  padding: 1%;
}

.perfil-container .perfil-edi-destaques{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.perfil-container .perfil-edi-destaques .perfil-edi-destaques-org{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.perfil-container .perfil-edi-destaques .perfil-edi-destaques-org .perfil-edi-destaques-botoes{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.perfil-container .perfil-edi-destaques .perfil-edi-destaques-org .perfil-edi-destaques-botoes button{
  color: #E4623E;
  background-color: white;
  border: 2px solid #E4623E;
  font-size:  24px;
  border-radius: 10px;
  padding: 15px;
  margin-right: 2%;
}

.perfil-container .perfil-edi-destaques .perfil-edi-destaques-org button:hover{
  cursor: pointer;
  background-color:#E4623E;
  color: white;
  transition: 0.3s;
}


.perfil-edi-destaques-org .destaques-edi-card{
  width: 20%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1%;
  margin-top: 3%;
  margin-right: 1%;
}

.destaques-edi-cards-org{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.destaques-edi-card-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.destaques-edi-card-header p{
  margin: 0px;
  padding: 0px;
  color: #393939;
}

.destaques-edi-card-header h3{
  margin: 0px;
  padding: 0px;
}

.destaques-edi-card .destaques-edi-card-content img{
  width: 100%;
}

.destaques-edi-card-footer button{
  background-color: #E4623E;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  margin-right: 3%;
}

.destaques-card-footer button:hover{
  cursor: pointer;
}